<%- include ('./header') %>
<body>	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	
	<div class="test">

		<h1>Veuillez vous inscrire !</h1>
        Nom d'utilisateur <br/>
		<input id='iuser' name="iuser"><br/><br/>
        Mot de passe<br/>
        <input type='password' id='imdp' name="imdp"><br/><br/>

		<input onclick='inscription()' id='btn' type="button" value="S'inscrire !">
	</br>
	<div style="margin-top: inherit;">
		<a href="connection"> Dejà un compte ? Cliquez ici ! </a >
		</div>	</div>

</div>
</body>
</html>