<%- include ('./header') %>
<body>	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	
	<div class="test">

		<h1>Archive arXiv</h1>
		<form>
			<h1>Saisissez un mot clé pour afficher les résultats</h1>
			<input id='mot2' name="mot2" placeholder="Saissisez un mot clé" required="required">
			<input onclick='getInfo2()'  id='btn' type="button" value="Valider">
		</form>
	</div>
	<div id='resultat' class="test">

	</div>

	<div class="test">
        <input onclick='deconnexion()' type="button" value="Se déconnecter">

</div>
</body>
</html>