<%- include ('./header') %>
<body>	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
	
	<div class="test">
        <div>
		<h1>Choissiez une application </h1>
        <a href="livre"> <input type="button" value="Consulter des archives HAL"></a >
        </div>
    </br>
        <div>
        <a href="livre2"> <input type="button" value="Consulter des archives arXiv"></a >
	</div>
</br>
    <div>
        <a href="comparer"> <input type="button" value="Comparer les archives HAL et arXiv"></a >
	</div>
</br>
<div>
    <a href="coauteur"> <input type="button" value="Recherche de co-auteurs"></a >
</div>
	<div class="test">
        <input onclick='deconnexion()' type="button" value="Se déconnecter">

</div>
</div>
       

</div>
</body>
</html>